.card {

background-color: rgb(250, 125, 0);
line-height:0.5em;
width: 22%;
margin:auto;
margin-top:0.2em;
margin-bottom:0.2em;
border-radius: 2em;
padding: 2px;
}

.picture {
    margin-bottom: 2em;
    margin-top: 1em;
    width:90%;
    opacity: none;

}

h2 {
    color:rgb(22, 83, 237);
    display: inline;
    margin: 1em;
    flex-direction: row;
    font-size: 1em;
}

button {
    margin-bottom: 1em;
    display:block;
    margin: auto;
    margin-bottom: 1em;
}